<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="  
          http://www.springframework.org/schema/beans  
          http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
          http://www.springframework.org/schema/context  
          http://www.springframework.org/schema/context/spring-context-3.2.xsd  
          http://www.springframework.org/schema/mvc      
          http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
          http://www.springframework.org/schema/cache 
          http://www.springframework.org/schema/cache/spring-cache-3.2.xsd">
	<!--扫描的包 -->
	<context:component-scan base-package="com.mvc" />
	<!--注解支持 -->
	<mvc:annotation-driven />

	<!-- 设置首页 -->
	<mvc:view-controller path="/" view-name="login" />

	<!--视图解析 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/View/pages/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<!--静态文件的访问 -->
	<mvc:resources mapping="/images/**" location="/View/uimaker/images/"
		cache-period="31556926" />
	<mvc:resources mapping="/css/**" location="/View/uimaker/css/"
		cache-period="31556926" />
	<mvc:resources mapping="/jquery/**" location="/View/uimaker/jquery/"
		cache-period="31556926" />
	<mvc:resources mapping="/js/**" location="/View/uimaker/js/"
		cache-period="31556926" />
	<mvc:resources mapping="/src/**" location="/View/uimaker/src/"
		cache-period="31556926" />

	<!-- SpringMVC在超出上传文件限制时，会抛出org.springframework.web.multipart.MaxUploadSizeExceededException -->
	<!-- 该异常是SpringMVC在检查上传的文件信息时抛出来的，而且此时还没有进入到Controller方法中 -->
	<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<!-- 遇到MaxUploadSizeExceededException异常时，自动跳转到/WEB-INF/error_fileupload.jsp页面 -->
				<prop
					key="org.springframework.web.multipart.MaxUploadSizeExceededException">WEB-INF/error_fileupload</prop>
				<!-- 处理其它异常(包括Controller抛出的) -->
				<prop key="java.lang.Throwable">/View/pages/error/500.jsp</prop>
			</props>
		</property>
	</bean>

</beans>